version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "5001:5000"
    volumes:
      - ./backend:/app
    environment:
      - FLASK_ENV=development
      - FLASK_APP=app.py
    depends_on:
      - ai-flask
    networks:
      - weapon-detection-network

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - weapon-detection-network
    environment:
      - VITE_API_URL=http://backend:5000

  ai-flask:
    build: ./ai-flask
    ports:
      - "6001:6000"
    networks:
      - weapon-detection-network

networks:
  weapon-detection-network:
    driver: bridge